!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
  %body
    %img{:alt => "メニュー", :src => "shinsyu_spa_map.jpg", :usemap => "#Map", :width => "100%"}/
